.pagestyles{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.containerImg{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.containerImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}