.containerCam{
    width: 80%;
    height: 60%;
    min-height: 250px;
    border: 1px solid #0091ff;
    padding: 5px;
    border-radius: 25px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCam canvas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}